body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    min-height: 340px;
    min-width: 420px;
    color: white;
}

article{
   margin: 15%;
    text-align: center;
    max-width: 1200px;
}

p{
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    position: fixed;
}
     
h1{
    font-size: 60px;
    font-family: 'Garamond', 'Arial Narrow', Arial, sans-serif;
    

} 
.title {
        text-align: center;
        width: 59vw;
        height: 43vh;
        background-color: gray;
        
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;

        
    
}


.information {
top: 27px;

}

.reservations{
top: 27px;
right: 0;
}

.contact{
    bottom: 27px;
    right: 0;
}


.giftCards {
    bottom: 27px;
}



#bestilling{
    
}